*{margin: 0;padding: 0; box-sizing: border-box;}
body,html{
    width: 100%;
}

body{
    background-color: #161a1d;
}

#header{
    width: 98%;
    margin: 10px auto 0 auto;
    background-color: #00b4d8;
    height: 150px;
    color: white;
    text-align: center;
    font-size: 60px;
    min-width: 1180px;
}
main{
    width: 98%;
    margin: 10px auto 0 auto;
    display: flex;
    min-width: 1180px;
    flex-wrap: wrap;
}
section{
    width:  49%;
    margin: 0 auto 0 auto;
}
#dane{
    width: 100%;
    background-color: #660708;
    color: white;
    font-size: 30px;
    padding: 40px;
    rotate: -15deg;
    margin-top: 120px;
}

#wyksztalcenie{
    background-color: #9ef01a;
    width: 100%;
    padding: 40px;
    font-size: 30px;
    margin-top: 150px;
    rotate: 10deg;
}
#wyksztalcenie li{
    margin: 10px;
}

#wyksztalcenie h2{
    text-align: center;
}

#kwalifikacje{
    width: 60%;
    margin: 50px auto 0 auto;
    font-size: 30px;
    border-radius: 40px;
    background-color: #ff7900;
    min-width: 960px;
    text-align: center;
}
#kwalifikacje h2{
    text-align: center;
    width: 500px;
    height: 100px;
    padding-top:24px ;
    background-color: #240046;
    margin: 20px auto 0 auto;
    border-radius: 40px;
    color: white;
}
.kwal{
    font-size: 150px;
    width: 450px;
    height: 450px;
    background-color: #5a189a;
    border-radius: 225px;
    padding: 130px 0 0 0;
    margin: 20px auto 20px auto;
    color: white;
    transition:transform 0.2s;
}

#kwalDiv{
    width: 100%;
    display: flex;
}

#kwalButton{
    width: 500px;
    height: 100px;
    background-color: #240046;
    margin: 0 auto 20px auto;
    border-radius: 40px;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
#kwalButton:hover{
    background-color: #5a189a;
}

#przedmioty{
    background-color: aqua;
    width: 80%;
    margin: 50px auto 50px auto;
    text-align: center;
}
.line{
    width: 100%;
    display: flex;
}
.kafelki{
    padding: 40px;
    width: 50%;
    background-color: #660708;
    text-align: center;
    border: 3px black solid;
    font-size: 50px;
    color: white;
}
#language{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto 0 auto;
}
#title2{
    width: 75%;
    margin: 0 auto 20px auto;
    text-align: center;
    font-size: 60px;
    padding: 10px;
    background-color: white;
    border-radius: 40px;
}
#en,#ge{
    width: 30%;
    text-align: center;
    font-size: 30px;
    padding: 50px;
    margin: 0 auto 0 auto;
    border: 5px black solid;
    background-color: white ;
    border-radius: 50px;
}
#en h2,#ge h2{
    margin: 0 auto 50px auto;
}
#title{
    font-size: 30px;
    padding: 50px;
    background-color: #660708;
    border: 3px white solid;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#kursy{
    background-color: #bc6c25;
    font-size: 30px;
    text-align: center;
    color: #fefae0;
    border: 3px solid black;
    padding: 30px;
}

#kursy ul{
    list-style: none;
}

#projects{
    background-color: #f08080;
    font-size: 30px;
    text-align: center;
    color: #fefae0;
    border: 3px solid #fbc4ab;
    padding: 30px;
}
#skills{
    width: 98%;
    margin: 50px auto 0 auto;
    min-width: 1180px;
    background-color: #f9c74f;
    padding: 40px;
}
#skills h2{
    font-size: 50px;
    text-align: center;
}

#info{
    width: 100%;
}
#info h3{
    font-size: 25px;
    margin: 19px 0 0 5px;
}
#soft,#hard{
    width: 50%;
    display: flex;
}
#squer1,#squer2{
    width: 50px;
    height: 50px;
    background-color: #5a189a;
    border-radius: 25px;
    margin: 10px;
}
#squer1{background-color: #43aa8b;}
#squer2{background-color: #f94144;}
#allSkills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.hardSkill{
    background-color:#f94144 ;
    font-size: 25px;
    padding: 40px;
    color: white;
    display:inline-block;
    width: 24%;
    margin: 5px;
    height: 340px;
}
.softSkill{
    background-color:#43aa8b ;
    font-size: 25px;
    padding: 40px;
    color: white;
    display:inline-block;
    width: 24%;
    text-align: center;
    margin: 5px;
    height: 340px;
    padding-top: 140px;
}

.zain{
    background-color:#003f88 ;
    font-size: 40px;
    padding: 40px;
    color: #fdc500;
    display:inline-block;
    width: 24%;
    text-align: center;
    margin: 5px;
    height: 340px;
    padding-top: 140px;
}
#zgoda{
    background-color: white;
    font-size: 30px;
    width: 70%;
    margin: 50px auto 50px auto;
    padding: 20px;
    border: 5px solid black;
}

#zgoda img{
    width: 200px;
    float: right;
}
#zgoda h2{
    margin-bottom: 20px;
    text-align: center;
}
#myBtn{
    position: fixed;
    right: 0;
    bottom: 30px;
    width: 150px;
    height: 50px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
}
#myBtn:hover{
    background-color: #741616;
}

a:link {
    text-decoration: none;
    color: white;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
    color: white;
  }
  
  a:active {
    text-decoration: none;
    color: white;
  }